<!DOCTYPE html>
<html class="no-js" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/admin_headerinc :: admin_head"></th:block>
</head>
<body class="config">
<div class="preloader is-active">
    <div class="preloader__wrap">

        <img class="preloader__img" src="/images/loading_2.png" alt=""></div>
</div>
<!--====== Main App ======-->
<div id="app">

    <!--====== Admin Header ======-->
    <th:block th:include="fragments/admin_header :: admin_header"></th:block>
    <!--====== End - Admin Header ======-->

    <section class="mt-3">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h6>Picture Form</h6>
                </div>
                <div class="card-body">
                    <form method="POST" th:action="@{/admin/product/uploadPictures}" enctype="multipart/form-data">
                        <input name="productId" th:value="${productId}" hidden>
                        <input type="file" name="files" accept=".jpg, .jpeg, .png" multiple/> <br/><br/>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
<!--====== End - Main App ======-->


<!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<!--====== Vendor Js ======-->
<script src="/js/vendor.js"></script>

<!--====== jQuery Shopnav plugin ======-->
<script src="/js/jquery.shopnav.js"></script>

<!--====== App ======-->
<script src="/js/app.js"></script>

<!--====== Bootstrap ======-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<!--====== Noscript ======-->
<noscript>
    <div class="app-setting">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="app-setting__wrap">
                        <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                        <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</noscript>
</body>
</html>
