<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="admin_head">
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/images/favicon.png" rel="shortcut icon">
        <title>Ludus - Electronics, Apparel, Computers, Books, DVDs & more</title>

        <!--====== Google Font ======-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

        <!--====== Vendor Css ======-->
        <link rel="stylesheet" href="/css/vendor.css">

        <!--====== Utility-Spacing ======-->
        <link rel="stylesheet" href="/css/utility.css">

        <!--====== App ======-->
        <link rel="stylesheet" href="/css/app.color11.css">

        <!--====== Bootstrap Css ======-->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </th:block>
</head>
<body>

</body>
</html>
